body {
    font-family: Arial, Helvetica, sans-serif;
}

/* General Container for the Page */.visitor-container {
    display: flex; /* Flexbox layout */
    align-items: flex-start; /* Align items at the top */
    height: 100vh; /* Full viewport height */
    gap: 20px; /* Space between sidebar and main content */
}

/* Main Content Area */
.main-content {
    flex: 1; /* Main content takes remaining space */
    padding: 20px;
    background-color: white; /* Background color for main content */
    border-radius: 8px;
}

/* Button Styling */
.form-field button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-field button:hover {
    background-color: #0056b3;
}

.card-body {
    text-align: center;
    width: 100%;
    box-sizing: border-box;  /* Ensures padding is inside the width */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 auto;  /* Centers the element horizontally */
    padding: 50px 100px;  /* Top/Bottom padding 50px, Left/Right padding 100px */
    margin-top: 2px;
    border-radius: 9px;
}

.form-container {
    text-align: center;
}

.form-container h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.horizontal-fields {
    display: flex;
    gap: 20px;
    margin: 10px 0;
}

/* Each form field */
.form-field {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-field label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    text-align: left;
}


input[type="text"],
input[type="tel"],
input[type="number"],
select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #007bff;
    box-shadow: 0px 2px 6px rgba(0, 123, 255, 0.3);
}

.navbar {
    justify-content: space-between; /* space between them */
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    border-radius: 9px;
}

.add-visitor-link {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
